html {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#top {
  /*background: linear-gradient(45deg, #131141 0%,#8d4363 100%);*/
  background-color: #131141;
  height: 130px;
  overflow: auto;
  overflow-y: hidden;
}


#left {
  width: 25%;
  height: 90%;
  overflow: auto;
  float: left;
}

#chrome-message {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
  float: left;
  padding: 10px;
}

#modal-alonzo {
  display: block;
  position: absolute;
  left:-30px;
  top:-70px;
 }

#right {
  height: 90%;
  overflow: hidden;
  margin: 10px;
}


.lab-page {
    padding: 10px;
    font-size: 16px;
}

.left {
  float: left;
}

.page-title {
  float: left;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 50px;
  color: white;
}

.page-subtitle {
  float: left;
  padding-left: 50px;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}

.top-button-container {
  float: left;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 30px;
}

#bjclogo-img {
  float: left;
  width: 90px;
  padding-top: 20px;
  padding-left: 30px;
}

#snaplogo-img {
  float: left;
  width: 90px;
  margin-top: 35px;
  margin-left: 10px;
}

#done-button {
  float: right;
  padding-right: 30px;
  padding-top: 35;
  color: white;
}

#next-button {
  float: right;
  padding-right: 30px;
  padding-top: 35;
  color: white;
}

#corral-cover {
  background-color: white;
  display: table;
  position: absolute;
}

.div-corral-cover {
  display: table-cell;
  vertical-align: middle;
}
.div-corral-cover-inner {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
}

.btn-corral-cover {
  margin: 2em 0;
  width: 100%;
}
