html {
    height: 100%;
    overflow: hidden;
    background-color:rgb(0, 173, 188);

}

body {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(255, 255, 255);

}

#top {
    background-color:rgb(0, 173, 188);
    height: 150px;
}


#left {
    width: 30%;
    height: 80%;
    overflow: auto;
    float: left;
    margin-bottom: 50px;
}

#right {
    height: 90%;
    overflow: hidden;
}

#snap {

}


img {
    width: 100%;
}

.lab_page {
    padding: 10px;
}

.left {
  float: left;
}

.page-title {
  float: left;
  padding-left: 30px;
  padding-top: 25px;
  font-size: 50px;
  color: white;
}

.top-button-container {
  float:left;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 30px;
}

.btn-top {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}
